body{
    background-color: grey;
}
.moviesContainer{
    height: 250px;
    width: 300px;
    display: flex;
    gap: 0.5px;
}
.movies{
    height: 202px;
    width: 300px;
    background-color: grey;
}

.movies img{
    height: 200px;
    width: 300px;
    
    padding-top: 2px;
    border-radius: 10px;
   
}
.movies img:hover{
   transform: scale(1.5);
}
.moviesDetails{
   
  width: 200px;

}
.moviesDetails h3{
    margin: 0px;
}

.booksContainer{
    height: 250px;
    width: 300px;
    display: flex;
    gap: 0.5px;
}
.books{
    height: 202px;
    width: 300px;
    background-color: grey;
}

.books img{
    height: 200px;
    width: 300px;
    
    padding-top: 2px;
    border-radius: 10px;
   
}
.books img:hover{
   transform: scale(1.5);
}
.booksDetails{
   
  width: 200px;

}
.booksDetails h3{
    margin: 0px;
}