body{
    background-color: rgb(20, 20, 20);
}
.generalContainer{
    display: flex;
    gap: 5px;
}

.moviesContainer{
    width: 300px;
    height: 500px;
    display: flex;
    gap: 10px;
    transition: 250ms ;
}
.movies{
    width: 300px;
    height: 500px;
    background-color: rgb(20, 20, 20);
}

.movies img{
    width: 300px;
    height: 445px;
    
    padding-top: 2px;
    border-radius: 5px;
   
}


/* .moviesContainer:hover div{
    opacity: 1;
    transform: scale(1.2);
} */
/* .moviesContainer span{
    opacity: 0;
}
.moviesContainer span h3{
    opacity: 0;
} */
.moviesDetails  {
    opacity: 0;
}
.moviesDetails{
   
  height: 100px;

}
.moviesDetails h3{
    margin: 0px;
    color: white;
}
.moviesContainer:hover {
    /* animation-name: scaleMenuItem;
    animation-duration: 1s;
    animation-direction: alternate; */
    transform: scale(1.2);
}
.moviesContainer:hover *  {
    
     opacity: 1;
   
 }
.booksContainer{
    width: 250px;
    height: 300px;
    display: flex;
    gap: 0.5px;
}
.books{
    width: 202px;
    height: 300px;
    background-color: grey;
}

.books img{
    width: 200px;
    height: 300px;
    
    padding-top: 2px;
    border-radius: 10px;
   
}
.books img:hover{
   transform: scale(1.5);
}
.booksDetails{
   
  height: 200px;

}
.booksDetails h3{
    margin: 0px;
    
}
@keyframes scaleMenuItem{
   100% { transform: scale(1.2)}
}