.movieContainer{
    height: 250px;
    width: 300px;
    display: flex;
}
.movie{
    height: 140px;
    width: 250px;
    background-color: grey;
}

.movie img{
    height: 140px;
    width: 250px;
    
    padding-top: 5px;
    border-radius: 5px 5px 5px 5px;
   
}
.movie img:hover{
   transform: scale(1.5);
}
.movieDetails{
   
  width: 200px;

}
.movieDetails h3{
    margin: 0px;
}